@font-face {
  font-family: "Source Code Pro", monospace;
  font-stretch: 100%;
  font-style: NORMAL;
  font-weight: 200;
  src: url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap")
    format("variable");
}
* {
  font: 1vw Source Code Pro;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #b4c3db;
}
#title,
.title,
.link,
.links,
.subtitle {
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 3%;
  font-size: 3vh;
}
.title,
#title {
  color: darkblue;
}
.link {
  margin-left: 1%;
  opacity: 65%;
}
.subtitle {
  font-size: 2vh;
}
.links {
  font-size: 1.5vh;
}

#app {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.legend-text {
  font-size: 0.08vh;
}
#navbar {
  display: flex;
  flex-direction: row;
}
#description {
  font-size: 2.2vh;
  padding-left: 1%;
}
#chart-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#legend-container {
  width: 25%;
}
#treemap-container {
  width: 75%;
}

.trunk {
  fill: none;
}
.rect-text {
  padding: 3%;
  fill: white;
  font-size: 0.125vh;
  white-space: pre-line;
}
#tooltip {
  fill: #b4c3db;
}
#tooltip-rect {
  stroke: black;
  stroke-width: 0.01vh;
}
.ttb-text {
  padding: 1%;
  font-size: 0.075vh;
}
